.socialBtns-container
    button.socialBtn
        span 
            i.fab.fa-facebook
            | 페이스북으로 로그인

    button.socialBtn
        span 
            i.fab.fa-google-play
            | 카카오로 로그인