.header {
  position: fixed;
  z-index: 11;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 10px 15px;

  .header__column {
    li,
    a {
      color: white;
    }
  }

  .logo {
    font-weight: 600;
    font-size: 24px;
  }

  input {
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: 10px;
  }

  ul {
    display: flex;
    justify-content: flex-end;
  }

  li:nth-child(2) {
    margin: 0px 10px;
  }
}
