.header {
  position: fixed;
  z-index: 11;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 15px 25px;

  .logo {
    font-weight: 600;
    font-size: 24px;
  }

  .header__column {
    li,
    a {
      color: #353535;
    }

    input {
      border-radius: 5px;
      border: none;
      width: 100%;
      padding: 10px 15px;
      background-color: #f7f7f7;
    }

    ul {
      display: flex;
      justify-content: flex-end;
    }

    li:not(:last-child) {
      margin-right: 10px;
    }
  }
}
