extends layouts/main

block content
    h3 Edit Photo

    form(method="post", action="")
        img(src=photo.fileUrl)
        input(type="text", value=photo.title)
        input(type="submit", value="수정")