extends layouts/main

block content
    h3 프로필 수정

    form.form(method="post", action=routes.user+routes.editProfile, enctype="multipart/form-data")
        h5=loggedUser.name
        input(type="file", accept="image/*", name="avatarFile")
        textarea(name="bio")=loggedUser.bio
        input(type="submit", value="수정하기")