extends layouts/main

block content
    h3 Edit Photo

    form.form(method="post", action=routes.editPhoto(photo.id))
        img(src=`/${photo.fileUrl}`)
        input(type="text", name="title", value=photo.title)
        input(type="submit", value="수정")