extends layouts/main

block content
    h3 프로필 수정

    form.form(method="post", action="")
        img(src=user.avatar)
        input(type="file", accept="image/*")
        h5=user.name
        input(type="text", value=user.bio)
        input(type="submit", value="수정하기")