extends layouts/main
include mixins/photoBlock

block content
	.home-photos
		.home-photos__column
			each item in photos[0]
				+photoBlock({
					id:item.id,
					title:item.title,
					fileUrl:item.fileUrl,
					creator:item.creator.name
				})
		.home-photos__column
			each item in photos[1]
				+photoBlock({
					id:item.id,
					title:item.title,
					fileUrl:item.fileUrl,
					creator:item.creator.name
				})
		.home-photos__column
			each item in photos[2]
				+photoBlock({
					id:item.id,
					title:item.title,
					fileUrl:item.fileUrl,
					creator:item.creator.name
				})