extends layouts/main
include mixins/photoGrid

block content
	.handmaiden-container
		h2 단어의 의미를 되찾아주세요.	
		span 현대에 와서 아저씨들이 앞장서 오염시킨 그 명사에 본래의 아름다움을 돌려주리라.
			<br />그 한 가지 생각에만 골똘했다.
		<br />
		<br />
		span < 정서경/박찬욱作, '아가씨 각본' 中 >

	+photoGrid(photos)