extends layouts/main
include mixins/photoBlock

block content
	h3 메인화면
	
	.home-photos
		each item in photos
			+photoBlock({
				id:item.id,
                title:item.title,
                fileUrl:item.fileUrl
			})