extends layouts/main

block content
    .page-title 회원가입
    
    form.form(method="post", action=routes.join)
        input(type="text", placeholder="이름", name="name")
        input(type="email", placeholder="이메일", name="email")
        input(type="password", placeholder="비밀번호", name="password")
        input(type="password", placeholder="비밀번호 확인", name="password2")
        input(type='submit', value="계정 만들기")
        
    include partials/socialBtns
