extends layouts/main

block content
    h3 올리기

    form(method="post", action="")
        input(type="file", accept="image/*")
        input(type="text", placeholder="작품 제목")
        input(type="submit", value="올리기")