@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&subset=korean");

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 66px 0px 20px;
  min-height: 70vh;
}

button,
input[type="submit"] {
  color: white;

  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 12px;

  &:first-child {
    margin-right: 5px;
  }
}
