.edit-profile-container {
  img {
    max-height: 85vh;
  }

  label {
    font-size: 16px;
    color: #eee;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: rgba(68, 68, 68, 0.8);
    }
  }

  img.profile {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .profile-delete {
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    margin-top: 5px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    font-size: 10px;
    width: 25px;
    height: 25px;

    &:hover {
      transform: scale(1.2);
    }
  }

  input#avatarFile {
    position: absolute;
    visibility: hidden;
  }
}
