.photo-detail-container {
  img {
    max-height: 85vh;
  }
  .photo-detail__creator {
    display: flex;

    .photo-detail__profile {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      justify-self: flex-end;
      margin-left: auto;
    }
  }
  .photo-detail {
    display: flex;
    flex-direction: column;

    .tag-container {
      display: flex;
      padding: 10px 0px;

      .tag {
        color: #353535;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        padding: 8px 15px;

        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
  }
}
