.photo-detail-container {
  padding: 25px 0px;
  color: #353535;

  img {
    max-height: 82vh;
  }

  .photo-detail__creator-container {
    padding: 0px 2px 0px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;

    .photo-detail__profile {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      justify-self: flex-end;
      margin-left: auto;
      margin-right: 5px;
    }

    .photo-detail__creator {
      font-size: 13px;
    }
  }

  .photo-detail {
    display: flex;
    flex-direction: column;

    .photo-detail-info {
      color: #666;
      display: flex;
      align-items: center;

      span:not(:last-child) {
        margin-right: 20px;
        i {
          margin-right: 5px;

          &.like {
            color: orangered;
          }
        }
      }

      span:nth-child(3),
      span:nth-child(4) {
        cursor: pointer;
      }

      .photo-detail-info__right {
        justify-self: flex-end;
        margin-left: auto;
      }
    }

    .photo-detail__menu {
      margin-top: 20px;
    }

    .tag-container {
      display: flex;
      margin: 25px 0px;

      .tag {
        color: #353535;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        padding: 8px 15px;
      }

      a:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}
