.profile-container {
  color: #353535;
  display: flex;
  max-width: 1300px;
  padding: 0px 10px 20px;
  margin-bottom: 40px;

  .profile__info {
    padding: 10px 0px 10px 30px;
    .profile__info-top {
      display: flex;
      align-items: center;

      .profile__name {
        font-weight: 600;
        font-size: 28px;
        margin-right: 10px;
      }

      .profile__btn-container {
        margin-left: 15px;
      }
    }

    .profile__bio {
      margin-top: 20px;
      white-space: pre-line;
      font-size: 15px;
      line-height: 1.8em;
      background-color: #4a4a4a;
      color: #eee;
      padding: 15px 20px;
      border-radius: 15px;
    }
  }
  .profile__img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
}
