.profile-container {
  display: flex;
  padding: 40px 0px;

  .profile__img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }

  .profile__name {
    font-weight: 600;
    font-size: 24px;
  }

  .profile__bio {
    white-space: pre-line;
    align-self: flex-end;
  }
}
