include ./photoBlock

mixin photoGrid(photos = {})
    .grid-photos
        each photoColumn in photos
            .grid-photos__column
                each item in photoColumn
                    if(item.creator.name !== undefined)
                        +photoBlock({
                            id:item.id,
                            title:item.title,
                            fileUrl:item.fileUrl,
                            creator: item.creator.name,
                            avatarUrl: item.creator.avatarUrl,
                            likeUsers: item.likeUsers
                        })
                    else
                        +photoBlock({
                            id:item.id,
                            title:item.title,
                            fileUrl:item.fileUrl,
                            creator: user.name,
                            avatarUrl: user.avatarUrl,
                            likeUsers: item.likeUsers
                        })