mixin photoBlock(photo = {})
    .photoBlock
        a(href=routes.photoDetail(photo.id))
            .photoBlock__info
                span=photo.title
                | /
                span=photo.creator
                | /
                span 🖤

        img.photoBlock__thumbnail(src=photo.fileUrl)